<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACNoonbody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49F7FF3B1EEBA3FB0029AEE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F7FF4F1EEBA3FB0029AEE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F7FF5A1EEBA3FB0029AEE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
